body {
    margin: 0;
    direction: rtl;
}

* {
    font-family: 'IranYekan';
    text-decoration: none;
    list-style: none;
}

.App {
    min-height: 100vh;
    background-color: #eee;
}

.header {
    background-color: #f5f6fa;
    box-shadow: 0px 2px 3px 1px #dcdde1;
}

.footer {
    background-color: #192a56;
}

.footer * {
    color: #fff;
}

.logo {
    width: 120px;
}

.logo img {
    width: 100%;
}

.menu ul li a {
    text-decoration: none;
    color: #40739e;
    font-size: 14px;
    transition: 0.3s ease-in-out;
}

.menu ul li a:hover {
    color: #192a56;
    transition: 0.3s ease-in-out;
}

.header .profile {
    color: #606872;
    transition: 0.3s ease-out;
}

.header .profile:hover {
    color: #414549;
    transition: 0.3s ease-out;
}

.header .left .line {
    width: 2px;
    background-color: rgb(136, 134, 134);
    height: 20px;
    display: block;
}

.content .filterBox {
    background-color: #eee;
    border-radius: 4px;
    box-shadow: -4px -4px 6px 1px #dcdde1, 4px 4px 6px 1px #fff;
}